.idea
.vscode
.claude
.DS_Store
/package-lock.json
/package.json
node_modules
__pycache__
*.pyc
*.pyo
*.bak
*.pdf
chmusicprosrv/images
chmusicprosrv/backup
chmusicprosrv/alembic.ini
chmusicprosrv/alembic.ini.docker
ollamasrv/backup
ollamasrv/data
ollamasrv/docker_images
appendonlydir
dump.rdb
*.egg-info
*.aof.1.base.rdb
*.aof.1.incr.aof
*.aof.manifest

.env
.env_postgres
.env_mock

/aitestmock/static/images/*
/aitestmock/static/audio/*
/develop-env/.env-dev
/chmusicprosrv/htmlcov/
/logs/
/CLAUDE.md.orgi
/CLAUDE.md.orgi.old
/chmusicprosrv/celerybeat-schedule.db
/test_song_prj/
/chmusicprosrv/.coverage
/docs/gotobusiness.md
/forwardproxy/
